@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .main-container{
        @apply p-5 max-w-7xl mx-auto
    }

    .btn-primary{
        @apply hover:shadow-xl hover:-translate-y-1 duration-300 p-2 md:px-5 md:py-1 bg-rose-500 shadow-md text-white  tracking-wider
    }
    .btn-secondary{
        @apply hover:shadow-xl hover:-translate-y-1 duration-300 p-2 md:px-5 md:py-1 bg-white shadow-md  tracking-wider
    }
}